

/*****End iconfont*****/

view{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-size: 32px;/*14px*/
		display: flex;
		flex-direction: column;
		
}
.flex{
	display: flex;
	flex-direction: row;
}
.flex-col{
	display: flex;
	flex-direction: column;
}
.flex-1{
	flex: 1;
}
.center{text-align: center;justify-content:center;}
.none{
	display: none;
}
.emptyData{
	padding: 20px;
	color: #666;
	font-size: 30px;
}
/***background-color***/
.bg-a{ background-color: #efefef !important;}
.bg-fff{background-color: #fff!important;;}
.bg-primary{background-color:#007aff!important;;}
.bg-success{background-color:#4cd964 !important;;}
.bg-warning{background-color:#E64340 !important;;}
.bg-danger{background-color:#dd524d !important;;}
.bg-info {background-color: #17a2b8!important;}
.bg-light {background-color: #f8f9fa!important;}
.bg-dark {background-color: #343a40!important;}
.bg-transparent {background-color: transparent !important;}
.bg-secondary {background-color: #6c757d!important;}
.bg-royal{background-color:#8a6de9;}
.bg-disabled{background-color:#FBFBFB;}
/***fontsize**/
.f18{font-size: 37px;}
.f16{font-size: 34px;}
.f14{font-size: 29px;}
.f12{font-size: 27px;}
/***cor1 2 3 内容字体差异 主标题 副标题 描述****/
.cor1{color: #323232;}
.cor2{color: #646464;}
.cor3{color: #999999;}
/****a 醒目 b一般 c较差   ******/
.cora{color: #f60;}
.corb{color: #26A2FF;}
.corc{color: #EC8B89;}
.cor-primary { color: #007bff!important;}
.cor-success{color: #28a745!important;}
.cor-warning{color: #ffc107!important}
.cor-danger{color: #dc3545!important}
.cor-info { color: #17a2b8!important;}
.cor-money{color: #FF6600;}
.cor-num{color: #f70;}
.fr{ float: right;}
.fl{float: left;}
/***padding****/
.pd-5{padding: 11px;}
.pdl-5{padding-left: 11px;}
.pdr-5{padding-right: 11px;}
.pdt-5{padding-top: 11px;}
.pdb-5{padding-bottom: 11px;}
.pd-10{padding: 22px;}
.pdl-10{padding-left: 22px;}
.pdr-10{padding-right: 22px;}
.pdt-10{padding-top: 22px;}
.pdb-10{padding-bottom: 22px;}
/***margin****/
.mg-5{margin: 5px;}
.mgb-5{margin-bottom: 11px;}
.mgt-5{margin-top: 11px;}
.mgl-5{margin-left: 11px;}
.mgr-5{margin-right: 11px;}
.mg-10{margin: 10px;}
.mgb-10{margin-bottom: 22px;}
.mgt-10{margin-top: 22px;}
.mgl-10{margin-left: 22px;}
.mgr-10{margin-right: 22px;}
/***border***/
.border {
  border: 2px solid #dee2e6 !important;
}

.border-top {
  border-top: 2px solid #dee2e6 !important;
}

.border-right {
  border-right: 2px solid #dee2e6 !important;
}

.border-bottom {
  border-bottom: 2px solid #dee2e6 !important;
}

.border-left {
  border-left: 2px solid #dee2e6 !important;
}

.border-0 {
  border: 0 !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-right-0 {
  border-right: 0 !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-left-0 {
  border-left: 0 !important;
}

.border-primary {
  border-color: #007bff !important;
}

.border-secondary {
  border-color: #6c757d !important;
}

.border-success {
  border-color: #28a745 !important;
}

.border-info {
  border-color: #17a2b8 !important;
}

.border-warning {
  border-color: #ffc107 !important;
}

.border-danger {
  border-color: #dc3545 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #343a40 !important;
}

.border-white {
  border-color: #fff !important;
}

.rounded {
  border-radius: 10px !important;
}

.rounded-top {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.rounded-right {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.rounded-bottom {
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.rounded-left {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.rounded-circle {
  border-radius: 50% !important;
}

.rounded-0 {
  border-radius: 0 !important;
}
/*****button*******/
.btn{
	padding: 13px 18px;
	background-color: #007AFF;
	color: #fff;
	font-size: 29px;
	display: inline-flex;
	border: 2px solid #007AFF;
}
.btn-small{
	padding: 8px 12px;
	font-size: 24px;
	background-color: #007AFF;
	color: #fff;
	display: inline-flex;
	border: 2px solid #007AFF;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-warning {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-light {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.btn-outline-secondary {
  color: #6c757d;
  background-color: transparent;
  background-image: none;
  border-color: #6c757d;
}
.btn-outline-success {
  color: #28a745;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}
.btn-outline-info {
  color: #17a2b8;
  background-color: transparent;
  background-image: none;
  border-color: #17a2b8;
}
.btn-outline-warning {
  color: #ffc107;
  background-color: transparent;
  background-image: none;
  border-color: #ffc107;
}
.btn-outline-danger {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}
.btn-outline-light {
  color: #f8f9fa;
  background-color: transparent;
  background-image: none;
  border-color: #f8f9fa;
}
.btn-outline-dark {
  color: #343a40;
  background-color: transparent;
  background-image: none;
  border-color: #343a40;
}
.btn-link {
  font-weight: 400;
  color: #007bff;
  background-color: transparent;
}
.btn-row-submit {
    margin: 44px auto;
    background-color: #008000;
    text-align: center;
    line-height: 88px;
    color: #fff !important;
    font-size: 34px;
    border-radius: 12px;
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    width: 96%;
}
 

rich-text{
	color: #555;
	line-height: 1.5;
	font-size: 29px;
}
.ajaxload{
	position: absolute; z-index: 9999; top: 0px; left: 0; right: 0; text-align: center;
}
 .row-box {
    border-bottom: 2px solid #ddd;
    border-top: 2px solid #ddd;
    padding: 14px 22px;
    background: #fff;
    margin-bottom: 22px;
    line-height: 1.5;
}
.row-box-hd{
		font-size: 36px;
		color: #323232;
		border-bottom: 1px solid #eee;
		margin-bottom: 22px;
		padding-bottom: 22px;
		display: flex;
		flex-direction: row;
}
.market-price{
	text-decoration: line-through;
	color: #999;
	font-size: 24px;
	line-height: 2.2;
	font-style: italic;
}
/***flex列表组件***/
 
.flexlist{
	
}
.flexlist-item{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	cursor: pointer;
	color: #444;
	padding: 12px;
	margin-bottom: 12px;
	border-bottom: 2px solid #eee;
}
.flexlist-flex-1{
	flex: 1;
}
.flexlist-img{
	margin-right: 20px;
	width: 132px;
	height:132px;
}
.flexlist-title{
	font-size: 36px;
	color: #444;
	margin-bottom: 11px;
	
}
.flexlist-title-one{
	display: block;
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
	padding-left: 11px;
	padding-right: 30px;
	color: #444;
	text-decoration: none; 
}
.flexlist-title-one:after{
	font-family: iconfont;
	content: "\e6a3";
	position: absolute;
	font-size: 12px;
	right: 3px;
	color: #999;
	top: 50%;
	margin-top: -8px;
}
.flexlist-row{
	margin-bottom: 11px;
	flex-direction: row;
}
.flexlist-price{
	color: #f60;
	font-size: 36px;
	flex-direction: row;
}
.flexlist-sold-num{
	color: #999;
    float: right;
    margin-right: 5px;
}
/****flex-table******/
.flex-table{
	display: flex;
	flex-direction: row; 
	border-bottom: 2px solid #eee;
	margin-bottom: 11px;
	padding-bottom: 11px;
	
}
 
.flex-table-label{
	 
	margin-right: 22px;
	color: #333;
	font-size: 36px;
	font-weight: 500;
	min-width: 132px;
	text-align: right;
}
.flex-table-box{
	flex: 1;
	font-size: 29px;
	color: #666;
}
 
/*****input-flex*********/
.input-flex {
    display: flex;
	flex-direction: row;
    margin-bottom: 2px;
    padding: 22px;
    background-color: #fff;
}
.input-flex-label {
	min-width: 80px;
	margin-right: 22px;
    line-height: 75px;
    font-size: 35px;
    color: #333;
    display: block;
}
.input-flex-text{
    flex: 1;
    height: 75px;
    box-sizing: border-box;
    display: block;
    border: 2px solid #eee !important;
    padding: 0 10px;
    font-size: 30px;
    margin: 0;
}

.row-sendSms {
	display: flex;
	flex-direction: row;
	margin-bottom: 1px;
	padding: 10px;
	background-color: #fff;
}

.row-sendSms-label {
	margin-right: 14px;
	line-height: 76px;
	font-size: 36px;
	color: #333;
	display: block;
}

.row-sendSms-text {
	flex: 1;
	height: 76px;
	border: 2px solid #eee;
	display: block;
	box-sizing: border-box;
	border-right: 0;
	padding-left: 11px;
	padding-right: 11px;
	margin: 0;
	margin-left: 11px;
	
}

.row-sendSms-send {
	width: 220px;
	height: 76px;
	line-height: 76px;
	background-color: #008000;
	box-sizing: border-box;
	margin-left: -11px;
	color: #fff;
	font-size: 29px;
	text-align: center;
	cursor: pointer;
}


/***tabs-border**/
.tabs-border{
	display: flex;
	flex-direction: row;
	align-items:center;
	height: 80px;
	background-color: #eee;
	margin-bottom: 12px;
}
.tabs-border-item{
	flex: 1;
	text-align: center;
	height: 80px;
	line-height: 80px;
	font-size: 36px;
	cursor: pointer;
	
}
.tabs-border-active{
	border-bottom: 2px solid #f30;
}
/*****numbox*****/
 .numbox{
	display: inline-flex;
	box-sizing: border-box;
	flex-direction: row;
}
.numbox-minus,.numbox-plus, .numbox-num{
	height: 60px;
	line-height: 60px;
	border: 2px solid #eee;
	box-sizing: border-box;
}
.numbox-minus,.numbox-plus{
	width:60px; 
	font-size:40px; 
	cursor:pointer;  
	text-align:center; 
	display:block; 
	float: left;
	cursor: pointer; 
	height: 60px;
}
.numbox-num{
	font-size: 30px;
	width:50px; 
	height: 60px;
	padding: 0; 
	margin:0px; 
	float: left; 
	display: block; 
	text-align: center;    
	border: 2px solid #eee; 
	border-radius:0;
	border-left:0px; 
	border-right:0px;
	box-shadow: none;
	color: #666;
	 
}
.buy-btn{
	display: inline-flex;
    height: 66px;
    line-height: 66px;
    text-align: center;
    width: 66px;
    background-color: #83c44e;
    color: #fff;
    border-radius: 50%;
    float: right;
    cursor: pointer;
} 
/******详情页*******/
.d-title{
	padding: 22px;
	margin-bottom: 22px;
	border-bottom: 2px solid #eee;
	font-size: 35px;
	
}
.d-row{
	padding: 11px 22px;
	display: flex;
	flex-direction: row;
}
.d-row-border{
	border-bottom: 2px solid #eee;
	margin-bottom: 22px;
	padding: 22px 22px;
	display: flex;
	flex-direction: row;
}
.d-img{
	max-width: 100%;
}
.d-content{
	padding: 0px 10px;
	color: #666;
	font-size: 30px;
	line-height: 1.5;
}
.d-content img{
	max-width: 100%;
}
 

.d-price{
	font-size: 40px;
	color: #FF6500;
}
