.cartlist {
  padding-top: 22px;
  background-color: #fff;
  font-size: 29px;
}

.cartlist-item {
  display: flex;
	flex-direction: row;
  padding: 11px;
  border-bottom: 2px solid #fafafa;
}

.cartlist-item:after {
  clear: both;
  visibility: hidden;
  content: ".";
  height: 0px;
}

 

.cartlist-item-img {
  width: 132px;
  height: 132px;
  margin-right: 10px;
}

 

.cartlist-item-title {
  line-height: 20px;
  display: block;
  color: #666;
  font-size: 14px;
  margin-bottom: 5px;
}

 

.cartlist-item-price {
  margin-bottom: 5px;
}

 

.cartlist-total {
	display: flex;
	flex-direction: row;
  padding: 0px 11px;
  line-height: 80px;
  font-size: 29px;
  border-bottom: 2px solid #fafafa;
  text-align: right;
  color: #777;
}

.cartlist-total-item {
  display: inline-block;
}

 

.cartlist-btns {
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid #fafafa;
}

.cartlist-btn{
  display: inline-flex;
  text-align: center;
  line-height: 66px;
  height: 66px;
  padding: 0px 22px;
  background-color: #4cd964;
  border: 2px solid #4cd964;
  color: #fff;
  font-size: 29px;
  border-radius: 11px;
}

.cartlist-row {
  padding: 0px 5px;
  line-height: 40px;
  font-size: 14px;
  border-bottom: 1px solid #fafafa;
  text-align: right;
  color: #999;
}